<div class="board">
    <div>
        <button class="board__btn btn" (click)="btnClick()">+ Add a list</button>
    </div>

    <div class="newList">
      <mat-form-field appearance="outline">
        <mat-label>Enter list title *</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
</div>










<!-- <div class="example-container">
    <h2>To do</h2>
  
    <div *ngFor="let item of data; index as i"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="item.tasks"
      [cdkDropListConnectedTo]="[getList(todoList)]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of item.tasks" cdkDrag>{{item.name}}</div>
    </div>
</div> -->
<!-- 
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
    </div>
  </div>
  
   -->