<div class="board">
    <div
        class="board__wrapper"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="tasksLists"
        (cdkDropListDropped)="drop($any($event))"
    >
        <div
            #columns
            class="board__columns"
            cdkDropListGroup
        >
            <app-tasks-column
                class="board__column"
                *ngFor="let column of tasksLists"
                [column]="column"
                (onRemoveList)="deleteList($event)"
                cdkDrag
            ></app-tasks-column>
        </div>
    </div>

    
    <div class="newList" *ngIf="isClicked;else addbtn">
        <mat-form-field appearance="outline">
            <mat-label>Enter list title *</mat-label>
            <input
                #listInput
                class="newList__input"
                [formControl]="listNameForm"
                matInput
                placeholder="Enter list title *"
            >
        </mat-form-field>
        <div class="newList__buttons buttons">
            <button
                mat-raised-button
                class="btn buttons__add"
                (click)="addList()"
            >
                Add list
            </button>
            <button
                mat-button
                class="btn buttons__close"
                (click)="closePopup()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <ng-template #addbtn>
        <div class="board__btn">
            <button
                mat-raised-button
                class="btn"
                (click)="showPopup()"
            >
                + Add a list
            </button>
        </div>
    </ng-template>
</div>
