<div class="column">
    <div class="column__header">
        <h3 class="column__title title">{{column.title}}</h3>
        <button
            mat-button
            class="btn buttons__close"
            (click)="removeList(column)"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div
        class="cards"
        cdkDropList
        [cdkDropListData]="column.cardsIds"
        (cdkDropListDropped)="drop($any($event))"
    >
        <!-- <app-task
            *ngFor="let card of column.cardsIds"
            cdkDrag
            [card]="card"
        ></app-task> -->
    </div>
    <!-- <app-add-card (addTask)="addNewTaskToCurrentList($event)"></app-add-card> -->
</div>
