.column {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    font: 700 20px 'Roboto', sans-serif;
    cursor: grab;
    text-align: center;
    margin-bottom: 0;
    margin-left: 20px;
  }
}



.cards {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 25px;
}

.cdk-drag-preview {
    box-sizing: content-box;
    opacity: 0.9;
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .tasks.cdk-drop-list-dragging app-task:not(.cdk-drag-placeholder) {
    transition: all 250ms cubic-bezier(0, 0, 0.2, 1);
  }
